<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Sophia Nikolajevski</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024 aasta kursuse bänner">
  <h1>Sophia Nikolajevski</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali!</p>
  <hr>
  <ul>
	<li><a href="/home">Avalehele</a></li>
  </ul>
  <hr>
  <h2>Lisa andmeid</h2>
	<form method="POST">
		<label for="firstNameInput">Sisesta tegelase eesnimi:</label>
		<input id="firstNameInput" type="text" name="firstNameInput" placeholder="Eesnimi..."> 
		<br>
		<label for="lastNameInput">Sisesta tegelase perekonnanimi:</label>
		<input id="lastNameInput" type="text" name="lastNameInput" placeholder="Perekonnanimi...">
		<br>
		<label for="birthDateInput">Sisesta tegelase sünnikuupäev:</label>
		<input id="birthDateInput" type="date" name="birthDateInput"> 
		<input type="submit" id="personSubmit" name="personSubmit" value="Salvesta">
	</form>
	<hr>
	<form method="POST">
		<label for="filmInput">Sisesta filmi nimi:</label>
		<input id="filmInput" type="text" name="filmInput">
		<input type="submit" id="filmSubmit" name="filmSubmit" value="Salvesta">	
	</form>
	<hr>
	<form method="POST">
		<label for="roleInput">Sisesta tegelase roll (näitleja, režissöör jms):</label>
		<input id="roleInput" type="text" name="roleInput">
		<input type="submit" id="roleSubmit" name="roleSubmit" value="Salvesta">
	</form>
	<hr>

</body>
</html>